@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "roboto";
}
#seccion1 {
  padding: 50px;
  line-height: 40px;
  background-image: url(./img/recepcion.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.estilo {
  background-color: #8f9ae993;
  padding: 40px 20px;
  border-radius: 50px;
}
#mapa {
  background-image: url(./img/mapa.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px 0px 80px 0px;
}
#seccion2 {
  background-image: url(./img/zonas-comunes2.jpg);
  padding: 50px;
  line-height: 40px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 40px;
  padding: 0% 15%;
}
h2 {
  font-size: 25px;
  padding: 0% 15%;
}
p {
  font-size: 15px;
  padding: 0% 15%;
  font-weight: 800;
}
.es-img {
  width: 200px;
  height: 200px;
  padding: 0% 15%;
}

.icono {
  width: 20px;
  height: 20px;
}

#cuadrado {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 150px;
  row-gap: 150px;
  padding: 0% 25%;
}
#one {
  grid-column: 1;
  grid-row: 1;
}
#two {
  grid-column: 2;
  grid-row: 1;
}

#three {
  grid-column: 3;
  grid-row: 1;
}
#four {
  grid-column: 1;
  grid-row: 2;
}
#five {
  grid-column: 2;
  grid-row: 2;
}
#six {
  grid-column: 3;
  grid-row: 2;
}
/*Footer*/
footer {
  background-color: #b1c2ff;
  padding: 20px;
}
/*Boton Editado*/
.rainbow-button {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  margin-left: 180px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #58a5f7f9;
  border-radius: 50%;
}
.rainbow-button:after {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
